build*/
cmake-build-*/
cache/
extern/SDL*
dist/

# IDEs and OS-specific stuff
.vs/
.DS_Store
*.user

# Android build artifacts
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/src/main/java/org/libsdl/

# CodeQL
_codeql_detected_source_root
