build*/
cmake-build-*/
cache/
extern/SDL*
dist/

# IDEs and OS-specific stuff
.vs/
.DS_Store
*.user

# Android build outputs
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.keystore
android/gradle/wrapper/gradle-wrapper.jar
_codeql_detected_source_root
